app-documents {

  .margined_thumbnail {
    margin: 5%;
  }
 
  .openButton {
    position: absolute;
    right: 1rem;
  }
  .openImg {
    color: var(--app-primary-color);
    font-size: 200%;
    margin-right: 2%;
    margin-top: 2%;
  }
}
