app-contact {
  .mailButton {
    text-align: center;
  }
  .mailImg {
    color: white;
    font-size: 200%;
    margin-right: 2%;
    margin-top: 2%;
    float: right;
    vertical-align: middle;
  }
}
