/* Document Level Styles */
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

:root {
  --app-primary-color: rgb(117, 105, 105);
  --app-secondary-color:#EF7D00;
  
  --app-third-color:#D11B29;
}
