my-app {
    .toolbar-background {
        background-color: var(--app-primary-color) !important;
      }

       .tabs .tab-document .icon.documentIcon{
        background-repeat: no-repeat;
        height: 30%;
        background-image: url('./assets/pictures/folder_icon.svg');
        background-size:contain;
        
      }

    ion-content {
      position: static;
    }
}