app-photo {
  .scroll-inner {
    height: 100%;
    ion-slides {
      height: 100%;
      .swiper-container {
        height: 100%;
        ion-slide {
          background-color: var(--app-primary-color);
        }
        .lazy-img-photo {
          height: 100%;
          display:flex;
          img {
            align-self: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .download-link {
          position: absolute;
          top: 20px;
          right: 20px;
          img {
            max-height: 30px;
          }
        }
      }
    }
  }
}
