app-title {
  ion-title {
    vertical-align: middle;
    font-weight: bold;
    display: inline-block
  }
  .imgToolBar {
    vertical-align: middle;
    max-width: 20%;
  }
  ion-button {
    max-height: 50%;
  }
  .button-md {
    max-width: 15%;
    padding: 1%;
    vertical-align: middle;
    background-color: var(--app-secondary-color);
  }
  .headerToolbar {
    max-height:1%;
  }
}
