
app-title {
  .toolbar-background {
    background-color: var(--app-primary-color) !important;
  }

  ion-title {
    text-align: center;
    font-weight: bold;
  }
  .toolbar-content {
    display: flex
  }
  .imgToolBar {
    vertical-align: middle;
    // .md & {
    //   height: $toolbar-md-height;
    // }
    // .ios & {
    //   height: $toolbar-ios-height;
    // }
    // .wp & {
    //   height: $toolbar-wp-height;
    // }
    height:56px;
  }
  ion-button {
    max-height: 50%;
  }
  .button {
    max-width: 15%;
    padding: 1%;
    vertical-align: middle;
    background-color: var(--app-secondary-color);
  }
}
