app-title {
  ion-title {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block
  }
  .imgToolBar {
    vertical-align: middle;
    max-width: 35%;
  }
  
}
