app-home {

  
.scroll-inner {
  height:100%;
}
    p {
      font-weight: bold;
    }

    stencil-route-link a {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }

    
  
 
}

