app-home {
  .toolbar-background {
    background-color: var(--app-primary-color) !important;
  }

  ion-scroll {
    padding: 15px;

    p {
      font-weight: bold;
    }

    stencil-route-link a {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }

    
  }
  
  .documentsTab{
    background-color: white;
    border-color: var(--app-secondary-color);
    border-width: 5px;
  }
}

