app-client {
  .scroll-inner {
    height: 100%;
    ion-slides {
      .swiper-container {
        height: 100%;
        ion-slide {
          align-items: flex-start;
          max-width: 100%;
          background-color: var(--app-secondary-color);
        }
        lazy-img {
          img {
            max-width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .verticalDiv {
    display: flex;
    flex-direction: column;
  }
  .textDiv {
    display: inline-block;
  }
  .logo {
    display: inline-block;
    max-height: 4rem;
  }
  .flexDiv {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-self: flex-start;
    width: 100%
  }
}
